<h1>Tareas :)</h1>
<div class="container">
  <div class="row">
    <% @tasks.each_slice(3) do |row| %>
      <% row.each do |task| %>
        <div class="col">
          <div class="card">
            <%= image_tag task.photo, class:'card-img-top' %>
            <div class="card-body">
              <h5 class="card-title text-center"><%= task.name %></h5>
            </div>
            <%= link_to "Completar", task_todos_path(task), method: :post, class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
      <div class="w-100" style="margin-top: 3rem"> </div>
    <% end %>
  </div>
</div>